.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height:3.3rem;
    background: #ffffffde;
}

.search-bar form {
    width: 100%;
    height: inherit;
}

.search-bar-input {
    width: 60%;
    height: inherit;
    background: transparent;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    
}


.search-bar-select {
    width: 20%;
    height: inherit;
    background: #ffffffde;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}



.search-bar-button {
    width: 20%;
    height: inherit;
    border: 0;
    font-size: 1rem;
    background: #137a53;
    color: #ffffff;
    cursor: pointer;
}

.search-bar-input, .search-bar-select, .search-bar-button:focus {
    outline: none;
}