.search-bar {
    width: 60%;
    height:3.3rem;
    border-radius: .5rem;
    background: #ffffff;
}

.search-bar-input {
    width: 100%;
    height: inherit;
    border: none;
    border-radius: .5rem;
    font-size: 1.3rem;
    padding: 1rem;
    
}

.search-bar-input:focus {
    outline: 0;
}